* {
  padding: 0px 0px;
  margin: 0px 0px;
}

body {
  background-color: #faf3f0;
}

.main {
  position: relative;
  background-color: #d4e2d4;
  height: 500px;
  width: 500px;
  position: absolute;
  top: -29%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 2px solid #c8e4b2;
  border-radius: 20px;
}

#longurl {
  position: relative;
  top: 40%;
  left: 10%;
  height: 40px;
  width: 296px;
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: large;
  font-family: monospace;
  font-weight: bold;
}

#shorten {
  position: relative;
  top: 40%;
  left: 12%;
  height: 40px;
  width: 80px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  font-family: monospace;
  color: black;
  background-color: #ffcacc;
}

#shorten:hover {
  background-color: #cee6f3;
}

#shorturl {
  position: relative;
  top: 45%;
  left: 10%;
  height: 40px;
  width: 270px;
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 47px;
  font-size: large;
  font-family: monospace;
  font-weight: bold;
}

#copy {
  position: relative;
  top: 46%;
  left: 0%;
  height: 35px;
  width: 35px;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  background-color: #ffcacc;
}

#copy:hover {
  background-color: #cee6f3;
}

.main p {
  /* background-color: white; */
  position: relative;
  top: 30%;
  left: 13%;
  height: 60px;
  width: 400px;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  color: #3f2305;
}
